@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background-color: #292929;
  --shadow-color: rgba(121, 121, 121, 0.333);
}

/* General page styling */
html {
  background: var(--background-color);
}

body {
  overflow: hidden;
}

/* Nav Area */
.top-bar {
  width: 100%;
  margin-top: 0;
  position: relative;
  text-align: center;
  color: white;
}
#title {
  position: absolute;
  left: 20px;
  top: 0;
  display: inline-block;
  height: 100%;
}
.nav {
  height: 100%;
  display: inline-block;
  color: white;
}
.nav a {
  margin: 0 20px;
  font-size: 120%;
  height: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.grid.wrapper {
  height: calc(100vh - 80px);
  color: white;
}

.label {
  font-weight: bold;
}

.btn-container {
  text-align: right;
  padding: 10px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.btn {
  --accent: grey;
  cursor: pointer;
  background: transparent;
  border: 1.5px solid var(--accent);
  color: var(--accent);
  border-radius: 10px;
  padding: 10px 15px;
  font-size: 90%;
  letter-spacing: 1px;
  transition: 0.5s all;
  outline: none;
  margin-top: 0;
  user-select: none;
}

.btn:hover {
  background: var(--accent);
  color: white;
}
.btn:disabled {
  pointer-events: none;
}

.edit.btn {
  --accent: green;
}

.delete.btn {
  --accent: red;
  margin-left: 10px;
}

.view.btn {
  --accent: blue;
  margin-left: 10px;
}

/* Delete Pet */
.pet-container {
  width: 100%;
}

.confirmation-box.show {
  display: block;
}

.home-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 230px;
  max-height: 100%;
}

.home-container #config {
  height: 100%;
}

div.feed_on {
  margin-top: 1.5vh;
  text-align: center;
  border: 1px solid rgb(255 255 255 / 40%);
  border-radius: 10px;
  padding: 10px;
  overflow: auto;
  max-height: calc(100% - 1.5vh - 4.5em);
}
div.feed_on p {
  font-weight: bold;
  margin-bottom: 1vh;
}
div.feed_on ul {
  list-style: none;
}

.feed-now {
  margin-bottom: 4vh;
}
.feed-now > .btn {
  font-size: 1.1rem;
  background: rgba(196, 196, 196, 0.795);
  color: rgb(36, 36, 36);
}
.feed-now > .btn:disabled {
  filter: brightness(0.5);
  color: rgb(94, 94, 94);
}
.feed-now > .btn:hover {
  box-shadow: 0.5px 1px 1px var(--shadow-color), 1px 2px 2px var(--shadow-color),
    1.5px 3px 3px var(--shadow-color);
  transition: 0.2s ease-out;
}

.feed-now > .btn:active {
  box-shadow: inset 0.5px 1px 1px var(--shadow-color),
    inset 1px 2px 2px var(--shadow-color), inset 1.5px 3px 3px var(--shadow-color);
  background: rgba(175, 175, 175, 0.795);
}

.feed_on {
  position: relative;
}

.feed_on.info > a {
  display: block;
  text-decoration: none;
  background-color: transparent;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 1.15rem;
  position: absolute;
  right: 5px;
  top: 5px;
}

/* MOBILE STYLE */
@media (max-width: 768px) {
  .btn:focus {
    background: var(--accent);
    color: white;
  }
}
